* {
    color: yellow;
}

h1{
    color: blue;
}
p{
    size: 17px;
}

.clase1 {
    color: black;
}

#idtitulogrande {
    color: green;
}

a[href]{
    color: brown;
}

a[href*=".ec"]{
    color: red;
}

img[alt*="puede"]{
    color: blueviolet;
}

/*
label:hover{
    color: red;
    background-color: blue;
    font-size: 50px;
}

